<!DOCTYPE html>
<html>
<title>Zachary Spar - Resume</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="shortcut icon" href="{{ url_for('static', filename='home/favicon.ico') }}" type="image/x-icon" />

<style>
    html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>

<body class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">

    <!-- Left Column -->
    <div class="w3-third">

      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="{{ url_for('static', filename='home/SPAR_headshot.jpeg') }}" style="width:100%" alt="Headshot">
          <div class="w3-display-bottomleft w3-container w3-text-black">
            <h2>Zachary Spar</h2>
          </div>
        </div>
        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-blue"></i>Backend Software Engineer</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-blue"></i>San Francisco, CA</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-blue"></i>zach@zachspar.com</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-blue"></i>(914) 486-8258</p>
          <hr>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-blue"></i>Frameworks / Tools</b></p>
            <ul>
                <li><p>Unix</p></li>
                <li><p>Django</p></li>
                <li><p>Flask</p></li>
                <li><p>Nginx</p></li>
                <li><p>Batch / BCP / ETL</p></li>
            </ul>
            <hr>
          <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-blue"></i>Languages</b></p>
            <ul>
                <li><p>Python</p></li>
                <li><p>Perl</p></li>
                <li><p>SQL</p></li>
                <li><p>Java</p></li>
                <li><p>C++</p></li>
            </ul>
          <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
        <div class="w3-container w3-card w3-white">
            <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-blue"></i>Education</h2>
            <div class="w3-container">
                <h5 class="w3-opacity"><b class="w3-hover-yellow">UNIVERSITY OF MICHIGAN</b></h5>
                <h7 class="w3-opacity"><b class="w3-hover-blue">College of Engineering</b></h7>
                <br>
                <h8 class="w3-opacity"><b>Ann Arbor, MI</b></h8>
                <h6 class="w3-text-blue"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2015 - 2019</h6>
                <p>Bachelor of Science in Engineering, May 2019</p>
                <p>Major: Computer Science</p>
                <br>
            </div>
        </div>
        <br>

      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-blue"></i>Work Experience</h2>

        <div class="w3-container">
          <h5 class="w3-opacity"><b>E*TRADE</b></h5>
          <h6 class="w3-text-blue"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2019 - <span class="w3-tag w3-blue w3-round">Current</span></h6>
            <ul>
                <li><p>Composed and documented critical daily batch processes for advisor equities, mutual funds, and fees</p></li>
                <li><p>Delineated and optimized legacy C services</p></li>
                <li><p>Scripted bulk copy programs to facilitate management fee calculations and analysis</p></li>
                <li><p>Produced manipulable JCL generator using Python</p></li>
            </ul>
          <hr>
        </div>

        <div class="w3-container">
          <h5 class="w3-opacity"><b>DARKOWL</b></h5>
          <h6 class="w3-text-blue"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2018</h6>
            <ul>
                <li><p>Designed plugin transforms analyzing API sourced data to visually display sensitive information on the Maltego software platform</p></li>
                <li><p>Developed client-requested dynamic display of customizable data characteristics using company API</p></li>
                <li><p>Illustrated client-facing Python library, facilitating access to proprietary DarkOwl API</p></li>
                <li><p>Optimized internal legacy processes with streamlined programming using Python and Java</p></li>
            </ul>
          <hr>
        </div>

        <div class="w3-container">
          <h5 class="w3-opacity"><b>ELLIOTT MANAGEMENT CORPORATION</b></h5>
          <h6 class="w3-text-blue"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2017</h6>
            <ul>
                <li><p>Constructed interactive graphic portfolio interface displaying relevant financial indicators for company-held securities</p></li>
                <li><p>Scripted autonomous Python applet that tracked and processed recent IPO's, ensuring the Equities Team was fully informed of market trends</p></li>
                <li><p>Assisted senior technology team in full database encryption and security monitoring</p></li>
            </ul>
            <br>
        </div>

      </div>

    <!-- End Right Column -->
    </div>

  <!-- End Grid -->
  </div>

  <!-- End Page Container -->
</div>

{#<footer class="w3-container w3-blue w3-center w3-margin-top">#}
{#  <h3><a href="#">Contact me.</a></h3>#}
{#</footer>#}

</body>
</html>
